body{
    background: #ccc;
}

.photo{
    border: 1px solid #505050;
    border-radius: 50%;
    width: 200px;
}

#title, .subtitle, .post_title{
    color: black;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.post_imagem{
    margin-bottom: 15px;

}